body {
    background-color: white;
    transition: background-color 1s;

}

header {
    background-color: grey;
    padding: 25px;;
    display: flex;
    justify-content: space-between;
}

.dark {
    background-color: black;
    transition: background-color 1s;
    color: white;
    font-style:italic;

}

header.dark {
    background-color: rgb(73, 14, 14);
}

ul {
    
    list-style: none;    
}

.content {
    display: none;
}

.active {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
}

.space {
    display: flex;
    justify-content: space-around;
}

.red_card {
    background-color: red;
    width: 20%;
}

.blue_card {
    background-color: blue;
}

.green_card {
    background-color: green;
}

a {
    font-style: none;
}
img {
    scale: 50%;
    
}

