body {
    background-color: white;
    transition: background-color 1s;

}

header {
    background-color: grey;
    padding: 25px;;
    display: flex;
    justify-content: space-between;
}

.dark {
    background-color: black;
    transition: background-color 1s;
    color: white;
    font-style:italic;

}

header.dark {
    background-color: rgb(73, 14, 14);
}

.input-red {
   border-color: red;
}

.input-green {
    border-color: green;
}
.content {
    display: none;
}

.active {
    display: block;
}
.red {
    background-color: rgb(240, 99, 99);
}

.green {
    background-color: rgb(92, 232, 92);
}